<a href="https://colab.research.google.com/github/JunetzMasihBelajar/2025_AI_TI1B/blob/main/LatihanJobsheet5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import datetime as dt

## Data Understanding
- Load dataset
---

## Data Understanding
- Preview dataset
---

In [4]:
df_customer = pd.read_csv('sample data/customers.csv')
df_customer.head()

   CustomerID Segment Currency
0           3     SME      EUR
1           5     LAM      EUR
2           6     SME      EUR
3           7     LAM      EUR
4           9     SME      EUR

In [6]:
df_gas_station = pd.read_csv('sample data/gasstations.csv')
df_gas_station.head()

   GasStationID  ChainID Country          Segment
0            44       13     CZE  Value for money
1            45        6     CZE          Premium
2            46       23     CZE            Other
3            47       33     CZE          Premium
4            48        4     CZE          Premium

In [7]:
df_product = pd.read_csv('sample data/products.csv')
df_product.head()

   ProductID   Description
0          1  Rucní zadání
1          2         Nafta
2          3       Special
3          4         Super
4          5       Natural

In [8]:
df_transaction = pd.read_csv('sample data/transactions_1k.csv')
df_transaction.head()

,TransactionID,Date,Time,CustomerID,CardID,GasStationID,ProductID,Amount,Price
0,1,2012-08-24,09:41:00,31543,486621,3704,2,28,672.64
1,2,2012-08-24,10:03:00,46707,550134,3704,2,18,430.72
2,3,2012-08-24,10:03:00,46707,550134,3704,23,1,121.99
3,4,2012-08-24,13:53:00,7654,684220,656,5,5,120.74
4,5,2012-08-24,08:49:00,17373,536109,741,2,28,645.05

## Data Understanding
- Merge tables
---

,TransactionID,Date,Time,CustomerID,CardID,GasStationID,ProductID,Amount,Price,Segment_x,Currency,ChainID,Country,Segment_y,Description
0,1,2012-08-24,09:41:00,31543,486621,3704,2,28,672.64,KAM,CZK,4,CZE,Premium,Nafta
1,2,2012-08-24,10:03:00,46707,550134,3704,2,18,430.72,KAM,CZK,4,CZE,Premium,Nafta
2,76,2012-08-24,08:40:00,30815,555003,1155,2,27,624.40,LAM,CZK,4,CZE,Premium,Nafta
3,77,2012-08-24,09:18:00,41875,595023,1155,2,23,528.13,KAM,CZK,4,CZE,Premium,Nafta
4,78,2012-08-24,10:12:00,6067,450132,1155,2,9,197.87,KAM,CZK,4,CZE,Premium,Nafta

## Data Understanding
- Preview Data types
---

TransactionID      int64
Date              object
Time              object
CustomerID         int64
CardID             int64
GasStationID       int64
ProductID          int64
Amount             int64
Price            float64
Segment_x         object
Currency          object
ChainID            int64
Country           object
Segment_y         object
Description       object
dtype: object

## Soal-1
Buatlah table list Top 5 Customers yang memiliki nilai transaksi paling banyak
---

,TransactionID,Date,Time,CardID,GasStationID,ProductID,Amount,Price,Segment_x,Currency,ChainID,Country,Segment_y,Description
CustomerID,,,,,,,,,,,,,,
31543,1,2012-08-24,09:41:00,486621,3704,2,28,672.64,KAM,CZK,4,CZE,Premium,Nafta
46707,2,2012-08-24,10:03:00,550134,3704,2,18,430.72,KAM,CZK,4,CZE,Premium,Nafta
30815,76,2012-08-24,08:40:00,555003,1155,2,27,624.40,LAM,CZK,4,CZE,Premium,Nafta
41875,77,2012-08-24,09:18:00,595023,1155,2,23,528.13,KAM,CZK,4,CZE,Premium,Nafta
6067,78,2012-08-24,10:12:00,450132,1155,2,9,197.87,KAM,CZK,4,CZE,Premium,Nafta

## Soal-2
Buatlah list Top 5 Gas stations yang memiliki nilai transaksi paling banyak
---

              Amount  Gas Sales
Gas Stations
4347             370    8557.94
48               295    6868.67
3250             320    6744.47
1155             292    6701.69
2417             273    6065.16

## Soal-3
Buatlah list Top 5 Jenis produk yang memiliki nilai transaksi paling banyak
---

            Amount      Sales
Products
Nafta        15230  345669.45
Diesel +      1120   27261.03
Natural       1045   24639.46
Nafta Plus     317    7233.72
Natural +      157    3999.92

## Soal-4
Buatlah deskripsi statistik untuk masing masing hari (23,24,25,26) pada dataset transaction_1k
---

           Amount                                                        \
            count       mean        std  min    25%   50%    75%    max
Date
2012-08-23   10.0  29.600000  24.900692  1.0  21.25  26.5  35.25   91.0
2012-08-24  492.0  19.936992  21.949630  0.0   5.00  19.0  27.00  264.0
2012-08-25  425.0  18.880000  20.376114  0.0   4.00  17.0  26.00  154.0
2012-08-26   73.0  21.219178  18.932810  0.0   6.00  20.0  29.00  101.0

            Sales                                                           \
            count        mean         std    min      25%     50%      75%
Date
2012-08-23   10.0  685.379000  534.046487  76.42  481.170  619.44  795.095
2012-08-24  492.0  409.939736  488.269481   1.76   76.125  332.45  615.395
2012-08-25  425.0  426.940071  453.134207   6.09  102.220  370.38  600.850
2012-08-26   73.0  487.431370  429.192499   4.74  142.840  437.03  675.520


                max
Date
2012-08-23  1994.71
2012-08-24  5762.49
2012-08-25  3600.84
2012-08-26  2303.75

## Soal-5
Carilah waktu terbaik (hari dan jam) dimana paling banyak user gas station melakukan transaksi
---

C:\Users\ASUS\AppData\Local\Temp\ipykernel_21856\97346580.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  day_trans1 = rename_trans.groupby(["Date", "Time"])['Amount', 'Gas Sales'].sum()

                 Amount  Gas Sales
Date       Time
2012-08-23 9         79    1785.68
           20        26     720.89
           21        91    1994.71
           22        69    1603.51
           23        31     749.00
...                 ...        ...
2012-08-26 9        310    7146.06
           10       120    2829.68
           11        67    1501.13
           12       152    3428.88
           13        43    1000.70

[61 rows x 2 columns]

            Time  Amount  Gas Sales
Date
2012-08-23    21      91    1994.71
2012-08-24    16    1007   23528.20
2012-08-25     9    1034   19362.21
2012-08-26     8     348    7996.20

## Soal-6
Dari segi bisnis understanding, tujuan utama dari analisis data customer ini adalah?
---

<ol>
    <li>Tujuan pertama adalah untuk mengetahui jenis produk dari gas station yang paling digemari oleh customer. Sehingga produsen dapat menambah stock terhadap jenis tersebut produk</li>
    <li>Tujuan kedua mengetahui stasiun gas mana yang memiliki penjualan paling banyak. Sehingga produsen dapat memberi stock lebih ke stasiun gas tersebut</li>
    <li>Tujuan terakhir untuk mengetahui jam berapa saja penjualan produk dibanjiri banyak customer, hal ini sangat membantu untuk mempersiapkan penjualan di jam-jam tersebut </li>
</ol>